<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">

<th:block th:fragment="fragmentContent">

    <div class="container" style="font-family: Rajdhani, sans-serif; color: #12044F; font-weight: 700;margin-bottom: 100px;margin-top: 120px;">

        <!-- No Reservations Message -->
        <th:block th:if="${allReservations.length == 0}">
            <div class="text-center mb-5">
                <h2 th:text="${'No reservations currently'}"></h2>
            </div>
        </th:block>

        <!-- Reservations Table and Filters -->
        <th:block th:if="${allReservations.length > 0}">
            <div class="text-center mb-5">
                <h2 th:text="${'Reservations List'}"></h2>
            </div>

            <!-- Filter Buttons -->
            <div class="mb-4 text-center">
                <button class="btn btn-info me-3" 
                        th:onclick="redirectAllReservations()"
                        th:text="${'All'}">
                </button>
                <button class="btn btn-primary me-3" 
                        th:onclick="redirectAllActiveReservations()"
                        th:text="${'Active'}">
                </button>
                <button class="btn btn-danger" 
                        th:onclick="redirectAllExpiredReservations()"
                        th:text="${'Expired'}">
                </button>
            </div>

            <input type="hidden" id="recordsPerPage" th:value="${recordsPerPage}">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered table-secondary" id="listingTable">
                    <thead class="table-info">
                        <tr>
                            <th class="text-center" th:text="${'Reservation Id'}"></th>
                            <th class="text-center" th:text="${'Room Id'}"></th>
                            <th class="text-center" th:text="${'User'}"></th>
                            <th class="text-center" th:text="${'Check In'}"></th>
                            <th class="text-center" th:text="${'Actions'}"></th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr th:each="tempReservation : ${allReservations}">
                            <th:block th:each="tempGuest : ${allGuests}">
                                <th:block th:each="tempUser : ${allUsers}">
                                    <th:block th:if="${tempReservation.guestId == tempGuest.guestId}">
                                        <th:block th:if="${tempGuest.userId == tempUser.id}">
                                            <td class="text-center align-middle" th:text="${tempReservation.reservationId}"></td>
                                            <td class="text-center align-middle" th:text="${tempReservation.roomId}"></td>
                                            <td class="text-center align-middle" th:text="${tempUser.firstName + ' ' + tempUser.lastName}"></td>
                                            <td class="text-center align-middle" th:text="${tempReservation.checkInDateStr}"></td>
                                            <td class="text-center align-middle">
                                                <button class="btn btn-info" 
                                                        th:onclick="redirectReservationDetails([[${tempReservation.reservationId}]])"
                                                        th:text="${'Details'}">
                                                </button>
                                            </td>
                                        </th:block>
                                    </th:block>
                                </th:block>
                            </th:block>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Pagination Controls -->
            <div class="d-flex justify-content-between align-items-center mt-4">
                <button class="btn btn-primary" th:onclick="prevPage()" id="btn_prev">Prev</button>
                <span>Page: <span id="page"></span></span>
                <button class="btn btn-primary" th:onclick="nextPage()" id="btn_next">Next</button>
            </div>

            <script th:src="@{/js/pagination.js}"></script>

        </th:block>

        <!-- Home Page Button -->
        <div class="text-center mt-5">
            <button class="btn btn-secondary" th:onclick="redirectHome()" 
                    th:text="${'Home Page'}">
            </button>
        </div>

    </div>

</th:block>
